.contentDiv{
    margin-top: 2rem;
}
.formButtons{
    margin-top: 1rem;
}
.questionType_selector{
    width: 25%;
    display: inline;
    margin: 1rem 2rem;
}
.question_input{
    width: 30%;
    display: inline;
    font-size: 0.8rem;
    margin: 1rem 2rem;
}
.form-elements{
    display: inline;
}
.userBox{

}
.form-response{
    width: auto;
}

.naBox{
    float: right;
}

input[type="text"]:disabled {
    background: #dddddd;
}

.input-disable {
    pointer-events: none;
    border: 1px solid grey;
    background-color: lightgrey;
}
.userQuestionBlock{
    margin: 1rem 0.5rem;
}
#menu{
    background-color: LightSlateGray;
    float: left;
    height: 100%;
    width: 20%;
}
#menu ol{
    height: 100%;
    margin: 0;
    padding: 0rem;
}

.menu_list_item{
    clear: both;
    width: 100%;
    font-size: 14px;
    padding: 1rem 0;
}
.menu_item{
    display: inline-block;
}

.left_float{
    float: left;
}
html, body {
    margin-top: 0;
  max-width: 1000px;
    height: 100%;
  background: #F4F7DE;
  color: hsla(195, 40%, 4%, 1);
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
  font-size: 16px;
  padding-bottom: 80px;
  }

a {
  color: #808080;
  text-decoration: none; }
  a:hover {
    color: #676767; }

h1 {
  font-size: 26px;
  margin-top: 30px; }

h2 {
  font-size: 20px;
  margin-top: 25px; }

nav {
  text-align: right;
  margin-top: 0px;
    padding-top: 10px;
  margin-right: 30px;
  background: black;
  /*  padding: 0;*/
  }
nav .navitem{
    border-color: #4cc38c;
    background-color: #e25656;
    display: inline-block;
}
.controls button {
  margin: 20px 0; }
.controls select, .controls input {
  margin-top: 20px; }

button, select, input, textarea {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  font-size: 14px; }

select:focus, input:focus, textarea:focus {
  border: 2px solid #808080; }

.label-spacing {
  margin-top: 26px; }

input, textarea {
  width: 89%;
  background-color: white;
  color: #808080;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #bfbab4;
  outline: 0;
  text-align: left;
  padding: 10px; }

select {
  background-color: white;
  color: #808080;
  border-radius: 3px;
  border: 2px solid #bfbab4;
  outline: 0;
  height: 41px;
  width: 100%;
  text-align: left;
  padding-left: 10px; }

button {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background: #808080;
  cursor: pointer; }
  button.secondary {
    background: #bfbab4; }
    button.secondary:hover {
      background: #a8a198; }
  button:hover {
    background: #676767;
    transition: background ease-in-out 0.3s; }

.recipes {
  margin: 20px auto 0;
  text-align: left; }
  .recipes .row {
    background: white;
    border-top: 1px solid #f6ebe5;
    border-bottom: 1px solid #f6ebe5; }
    .recipes .row:first-child {
      border-radius: 8px 8px 0 0; }
    .recipes .row:last-child {
      border-radius: 0 0 8px 8px; }

.add-row {
  margin-bottom: 30px; }

.grid-100 .row .addHover {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}
.grid-100 .row .addHover a {
  width: 70%;
}

.addHover .hoverBlock {
  opacity: 0;
  transition: all ease-in-out 0.3s; }
  .addHover .hoverBlock a {
    margin-right: 12px; }
    .addHover .hoverBlock a:last-child {
      margin-right: 0; }
.addHover:hover .hoverBlock {
  opacity: 1; }

.flush-right {
  float: right; }

/*# sourceMappingURL=styles.css.map */
#addIngredient {

}
table{
    width:100%;
    display: block;
    font-size: 0.6rem;
    border: 0.1rem solid hsla(195, 40%, 4%, 1);
    margin-left: auto;
        margin-right: auto;
}
thead td{
    text-decoration: underline;
    padding-left: 0.25rem;
    padding-right:0.25rem;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 0.7rem;
}
#search{
  width: 50%;
}
.flash {
  color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

.modal-content.failure {
  background: #e25656;
}

.modal-content.success {
  background: #4cc38c;
}

.flash.info {
  background: #eca73f;
}
.tablerow{
    padding-bottom: -0.2rem;
    margin-bottom: -0.2rem;
}
ol li{

    background: darkgrey;
    display: inline-block;
    padding: 0.25rem;
    font-family: "Fira Code";

}
ol li a{
    color: black;
}
ol li:hover{
    cursor: pointer;
    background: white;
}
.active {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Bouton fermeture */

.rating
    {
    cursor: pointer;
    }
.issuer{
    font-size: 0.6rem;
    font-weight: bold;
    width: 21rem;
    padding-left: 0.5rem;
    text-align: left;
}
.issuerHeader{
    font-size: 0.7rem;
    width: 20rem;

}
.admin-input{
    width: 50%;
    padding: 5px
}
table input[type="text"], textarea {
    width: 50%;
    background-color: white;
    color: #808080;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #bfbab4;
    outline: 0;
    text-align: left;
    padding: 4px; }
.notificationInput{
    width: 100%;
}
.searchtitles{
    font-size: 0.9rem;
}
.searchbox{
    height: 0.8rem;
    padding: 0.1rem;
    font-size: 0.8rem;
}
.tooltip
    {
    display: block;
    position: absolute;
    background-color: rgb(130, 150, 200);
    padding: 5px;
    }
td button{
    height: 100%
}
td{
    padding: 0 0;
    margin: 0 0;
}
.favorite{
    padding: 0;
}
.notificationTable{
    font-size: 1.0rem;
}
.headings{
    font-size: 1.1rem;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.divider_row{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3px;
}