#mapid {
    height: 550px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#mapContainer{
    width: 100%;
}
body {
    background: DarkGray;
}
table{
    font-family: "Calibri Light", serif;
    font-size: 0.7rem;
    font-weight: bold;
    border: 1px solid #0078A8;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align: center;
    border: 1px solid #0078A8;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
}
tr{
    /*border: 5px solid #0078A8;*/
    /*padding: 0.25%;*/
}
thead td{
    text-decoration: underline;
    padding-left: 0.25rem;
    padding-right:0.25rem;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1rem;
}
#contianerDiv{
    width:100%;
    height:100%
}
i {
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 0.25rem;
}

.right {

}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.shipTitle{
    font-weight: bold;
}
#showhide{
    margin: 5px;
    float: left;
    font-size: 1rem;
}
.scroll {
    margin:4px, 4px;
    padding:4px;
    width: 48%;
    height: 275px;
    /*overflow-x: hidden;*/
    overflow-y: auto;
    text-align:justify;
    float:left;

}
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll {
    -ms-overflow-style: none;
}
button,
input{
    border-radius: 1rem;
    background: #0078A8;
    border: #0078A8;
    font-size: 1.25rem;

}
input{
    margin:0.5rem;
}
button{
    margin-left:40%;
    margin-right: 60%;
    font-weight: bold;
}
.floatright{
    float: right;
    width:48%;
}
.form{
    font-size:1.5rem;
}
#filterButton{
    margin: 5px;
}
.filterLabel{
    font-size: 1.1rem;
}
#menu{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-size:2rem;
    list-style: none;
    display: inline-block;
}
ol{
#    width: 100%;
#    margin-left: auto;
#    margin-right: auto;
#    align-content: center;
#    font-size:2rem;
#    list-style: none;
#    display: inline;
}
ol li{
    border: 3px solid #0078A8;
    background: darkgrey;
    display: inline-block;
    padding: 0.25rem;
    font-family: "Fira Code";
    border-radius: 0.5rem;
}
ol li:hover{
    cursor: pointer;
    background: white;
}
#datalabel{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
content{
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
}
#status{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#tableNav{
    margin-left: auto;
        margin-right: auto;
}
a{
    color: inherit;
    text-decoration: inherit;
}