<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <span th:text="${user.name}"></span>
    <span th:text="${user.creationDate}"></span>
</div>
</body>