<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div>
    <form method="post" th:object="${survey}" th:action="@{${action}}">
        <input type="text" th:field="*{title}" name="title" th:text="*{title}">

        <table th:each="questionBlock : ${survey.questionBlockList}" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Type</th>
                <td>Dep. ID</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="questionAnswerPair : ${questionBlock.questionAnswerPairs}">
                    <td>
                        <span th:text="${questionAnswerPair.parentQuestion.id}"></span>
                    </td>
                    <td>
                        <span th:text="${questionAnswerPair.question}"></span>
                    </td>
                    <td>
                        <span th:text="${questionAnswerPair.questionType}"></span>
                    </td>
                    <td>
                        <span th:text="${questionAnswerPair.dependentQuestion?.id}"></span>
                    </td>
                </tr>

            </tbody>
        </table>



        <button type="button" id="addBlock">+ Add Question</button>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/webapp.js"></script>
</html>