<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>


<div>
    <div th:each="survey : ${surveys}">
        <a th:href="@{|/edit_survey/${survey.id}|}">
        <span th:text="${survey.title}"></span>
        <span th:text="${survey.id}"></span>
        </a>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/webapp.js"></script>
</html>