<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <table>
        <thead>
        <tr>
            <td>Survey Template</td>
            <td>Scoring Template Exists?</td>
            <td>Link</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="surveyTemplate : ${surveyTemplateList}">
                <td th:text="${surveyTemplate.title}"></td>
                <td th:text="${surveyTemplate.scoringTemplate != null}"></td>
                <td><a th:href="@{|/editScoringTemplate/${surveyTemplate.id}|}">Link</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
