<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <span th:text="${surveyTemplate.title} + 'Scoring Template'"></span>
    <form method="post" th:object="${scoringTemplate}">
        <input type="text" th:field="*{surveyTemplate}" th:value="*{surveyTemplate}">
        <table>
            <thead>
            <tr>
                <td>Section Name</td>
                <td>Section Question Count</td>
                <td>Overall Section Weight</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="questionBlockTemplate : ${surveyTemplate.questionBlockTemplateList}">
                <td th:text="${questionBlockTemplate.title}"></td>
                <td th:text="${questionBlockTemplate.questions.size()}"></td>
            </tr>

            </tbody>
        </table>
        <div class="scoringWeightDiv">
            <span class="tableTitle">Block Title</span>
            <table th:each="scoringBlockTemplate,stat : *{scoringBlockTemplates}">

                <thead>
                <tr>
                    <td>Question</td>
                    <td>Question Weight</td>
                </tr>
                </thead>
                <tr th:each="questionWeightPair,weightStat : *{scoringBlockTemplates[__${stat.index}__].questionWeightPairs}">
<!--                <tr th:each="scoringBlock : *{scoringBlockTemplates[__${stat.index}__]}">-->
                    <td th:text="${questionWeightPair.question}"></td>
                    <td>
                        <select th:field="*{scoringBlockTemplates[__${stat.index}__].questionWeightPairs[__${weightStat.index}__].weight}">
                            <option th:value="1">Lower weight</option>
                            <option th:value="2">Normal weight</option>
                            <option th:value="3">Higher weight</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </div>
    </form>

</div>
</body>
