<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <form method="post" th:object="${assignmentWrapper}">
        <span>Template:</span>
        <select name="surveyTemplate" th:field="*{surveyTemplate}">
            <option value="">Select a survey template</option>
            <option th:each="surveyTemplate : ${assignmentWrapper.surveyTemplates}" th:value="${surveyTemplate.id}" th:text="${surveyTemplate.title}"></option>
        </select>
        <span>User:</span>
        <select th:field="*{user}">
            <option value="">Select a user</option>
            <option th:each="user : ${assignmentWrapper.users}" th:value="${user.id}" th:text="${user.username}"></option>
        </select>
        <div class="formButtons">
            <button type="submit">Assign</button>
        </div>
    </form>
</div>
</body>