<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div>
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>Create new template</td>
        </tr>
        <tr th:each="survey : ${surveys}">
            <td ><a th:href="@{|/fill_survey/${survey.id}|}" th:text="${survey.id}"></a></td>
            <td ><a th:href="@{|/fill_survey/${survey.id}|}" th:text="${survey.title}"></a></td>
            <br>
        </tr>
        </tbody>
    </table>
</div>
</body>