<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>


<div class="contentDiv">
    <form method="post" th:object="${surveyQuestionBlockWrapper}" th:action="@{${action}}">
        <span>Template Name:</span>
        <input type="text" th:field="*{surveyTemplate.title}" name="title" th:text="*{surveyTemplate.title}">

        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Select</th>
                <th>Block ID</th>
                <th>Block Title</th>
<!--                <th>Description</th>-->
            </tr>
            </thead>
            <tbody>

            <tr th:each="questionBlockWrapper, stat: *{questionBlockWrapperList}">
                <td><input type="checkbox" th:field="*{questionBlockWrapperList[__${stat.index}__].enabled}"/></td>
                <td><input th:value="${questionBlockWrapper.questionBlockTemplate.id}" th:field="*{questionBlockWrapperList[__${stat.index}__].questionBlockTemplate.id}" /></td>
                <td><input th:value="${questionBlockWrapper.questionBlockTemplate.title}" th:field="*{questionBlockWrapperList[__${stat.index}__].questionBlockTemplate.title}" /></td>
<!--                <td><input type="checkbox" th:name="|surveyQuestionBlockWrapperList[${stat.index}].id|" th:value="${questionBlockWrapper.enabled}" th:checked="${questionBlockWrapper.enabled}" /></td>-->
<!--                <td th:text="${questionBlockWrapper.getQuestionBlock().getId()}"></td>-->
<!--                <td th:text="${questionBlockWrapper.getQuestionBlock().getTitle()}"></td>-->
<!--                <td th:text="${questionBlock.getDescription()}"></td>-->
            </tr>
            </tbody>
        </table>





<!--        <div th:object="">-->

<!--        </div>-->

<!--        <div th:each="questionBlock : ${surveyQuestionBlockWrapper}" class="ingredient-row">-->
<!--            <div th:text="${questionBlock.getId()}"></div>-->
<!--            <input type="checkbox">-->
<!--            <div class="prefix-20 grid-30" th:text="${questionBlock.getTitle()}">-->

<!--            </div>-->

<!--            <div class="grid-30">-->

<!--            </div>-->

<!--        </div>-->
        <div class="formButtons">
            <button type="submit">Create Template</button>
        </div>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/webapp.js"></script>
</html>