<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <form method="post" th:object="${survey}" th:action="@{${action}}">
        <span type="text" th:text="*{title}"></span>


        <div class="userQuestionBlock" th:each="questionBlock: ${survey.questionBlockList}">
            <span th:text="${questionBlock.title}"></span>

                <div class="question-row" th:each="questionAnswerPair : ${questionBlock.getQuestionAnswerPairs()}">
                        <input type="hidden" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].id}"
                               th:value="${questionAnswerPair.id}"/>
                            <span th:text="${questionAnswerPair.question}"></span>
                        <div class="question-input-container" th:switch="${questionAnswerPair.questionType}">
                            <div class="form-elements" th:case="${T(TPRM.Static.QUESTIONTYPE).BOOLEAN}">
                                <input class="form-response" type="radio" id="option1" th:value="true" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].answer}"/>
                                <label class="custom-control-label" for="option1">Yes</label>
                                <input class="form-response" type="radio" id="option2" th:value="false" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].answer}"/>
                                <label class="custom-control-label" for="option2">No</label>
                                <input class="naBox form-response" type="checkbox" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].notApplicable}"
                                       th:checked="${questionAnswerPair.notApplicable} ? 'checked'">
                            </div>
                            <div th:case="${T(TPRM.Static.QUESTIONTYPE).NUMCHAR}">
                                <input th:type="text" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].answer}"
                                       th:value="${questionAnswerPair.answer}"/>
                                <input class="naBox form-response" type="checkbox" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].notApplicable}"
                                       th:checked="${questionAnswerPair.notApplicable} ? 'checked'">
                            </div>
                            <input type="hidden" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].parentQuestion}"
                                   th:value="${questionAnswerPair.parentQuestion?.id}"/>
                            <input type="hidden" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].dependentQuestion}"
                                   th:value="${questionAnswerPair.dependentQuestion?.id}"/>
                        </div>


                </div>

<!--            <div th:each="" >-->
<!--&lt;!&ndash;                <span th:text="${questionAnswerPair.id}"></span>&ndash;&gt;-->
<!--                <span th:text="${questionAnswerPair.question}"></span>-->
<!--                -->
<!--                <input th:type="text" th:field="*{questionBlockList[__${questionBlockStat.index}__].questionAnswerPairs[__${questionAnswerPairStat.index}__].answer}"-->
<!--                       th:value="${questionAnswerPair.answer}"/>-->
<!--                -->
<!--&lt;!&ndash;                <input th:type="text" th:field="*{questionAnswerPair.answer}"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:value="*{questionAnswerPair.answer}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <input th:type="text" th:field="*{questionBlock.answer}"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:value="*{questionAnswerPair.answer}"/>&ndash;&gt;-->
<!--            </div>-->
        </div>
        <div class="formButtons">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/webapp.js"></script>
<script src="../assets/js/survey.js"></script>
</html>