<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>


<div>
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>Create new template</td>
        </tr>
        <tr th:each="template : ${templates}">
            <td ><a th:href="@{|/templates/viewtemplate/${template.id}|}" th:text="${template.title}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>