<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Select</th>
                <th>Block ID</th>
                <th>Block Title</th>
                <!--                <th>Description</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${surveyTemplate.title}" ></span></td>
            </tr>
            </tbody>
<!--            <tbody>-->

            <tr th:each="questionBlockTemplate: *{surveyTemplate.questionBlockTemplateList}">
                <td th:each="question : ${questionBlockTemplate.questions}" th:text="${question.question}">

                </td>
            </tr>

        </table>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/webapp.js"></script>
</html>