<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div class="contentDiv">
    <div class="userBox">
        <span>User Info:</span>
        <span>Username: </span><span th:text="${user.username}"></span>
        <span>Account Created: </span><span th:text="${user.creationDate}"></span>
    </div>
    <div class="userBox">
        <span>User Info:</span>
        <span>Number of Surveys: </span><span th:text="${user.getSurveys().size()}"></span><br>
        <span><a href="/user/edit_user_info">Edit Account Information</a></span><br>
    </div>
</div>
</body>