<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>
    <table>
        <thead>Create Template</thead>
        <tbody>
        <tr>
            <td>Create new template</td>
        </tr>
        <tr th:each="template : ${templates}">
            <td th:text="${template.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>