<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>

    <form method="post" th:object="${questionBlock}" th:action="@{${action}}">
        <input type="text" th:field="*{title}" name="title" th:text="*{title}">
<!--        <label>-->
<!--            Increment Version? <input th:object="${validationControl}" type="checkbox" name="active" th:checked="${validationControl.isIncrement()} ? 'checked'">-->
<!--        </label>-->
        <div th:each="question : ${questionBlock.questions}" class="question-row">
            <div class="prefix-20 grid-30">
                <input type="text" th:field="*{questions[__${questionStat.index}__].id}" th:value="${question.id}"/>
                <p>
                    <input type="text" th:field="*{questions[__${questionStat.index}__].question}" th:value="${question.question}"/>
                </p>
            </div>
<!--            <div class="grid-30">-->
<!--                <p>-->
<!--                    <input type="text" th:field="*{questions[__${questionStat.index}__].answer}" th:value="${question.answer}"/>-->
<!--                </p>-->
<!--            </div>-->

        </div>

        <button type="button" id="addQuestion">+ Add Question</button>
        <button type="submit">Submit</button>
    </form>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/webapp.js"></script>
</html>