<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Jaguar Slayer</title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/assets/css/unsemantic-grid-responsive.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>

</head>
<nav th:fragment="nav">
    <div class="left_float">
        <div class="menu_item"><a href="/">Home</a></div>
        <div class="menu_item"><a href="admin_index.html"></a></div>
        <div class="menu_item"><a th:href="@{/user/surveys}">Surveys</a></div>
    </div>
    <div class="navitem">
        <a sec:authentication="name" th:href="@{/profile/}">
        </a>
    </div>
<!--    &bull;-->
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
        logout
    </a>
</nav>
<div th:fragment="menu" id="menu">
<!--        <div class="menu_item"><a href="/">Home</a></div>-->
<!--        <div class="menu_item"><a href="admin_index.html"></a></div>-->
<!--        <div class="menu_item"><a href="user/surveys">Surveys</a></div>-->
</div>
<div th:fragment="menuBorder" id="menuBorder">

</div>
<div id="myModal" th:fragment="modal" th:if="${modal != null}" th:style="${modal != null ? 'display:block' : 'display:none'}" class="modal">
    <div th:classappend="${#strings.toLowerCase(modal.status)}" class="modal-content">
        <span class="close">&times;</span>
        <p th:text="${modal.message}">Some text in the Modal..</p>
    </div>
</div>

<div th:fragment="flash" th:if="${flash != null}">
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
<!--    <div th:classappend="${flash}" th:text="${flash}" class="flash"></div>-->
</div>
</html>