<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

  <nav>
    <a th:href="@{/signup}">
      sign-up
    </a>
    <a th:href="@{/login}">
      login
    </a>
  </nav>

  <div class="grid-container">
    <div th:replace="layout :: flash"></div>
    <div class="grid-100">
      <a href="admin_index.html">
        <h1>
          <img src="../assets/images/poop.png" width="60px" height="60px"/>
          <br></br>
          BossCo
        </h1>
      </a>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <form th:action="@{/login}" th:object="${user}" method="post">
        <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input th:field="*{username}" placeholder="Username"> </input>
            </p>
        </div>
        <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input th:field="*{password}" placeholder="Password" type="password"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <button type="submit">Login</button>
            </p>

        </div>

        <div class="clear"></div>
       <!-- recipes -->
        </form>
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
  </div>
</body>
</html>
