<!doctype html>
<html lang="en">
<head th:replace="layout :: head">
</head>

<body>

  <nav>
    <a th:href="@{/signup}">
      sign-up
    </a>
    &bull;
    <a th:href="@{/login}">
      login
    </a>

  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <div th:replace="layout :: flash"></div>
      <a href="admin_index.html">
        <h1>
          <img src="../assets/images/poop.png" width="60px" height="60px"/>
          <br></br>
          Super Secret Jaguar Slayer
        </h1>
      </a>
    </div>

    <div class="grid-100">
      <form method="post" th:action="@{/signup}" th:object="${user}">
        <div class="recipes">
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input th:field="*{username}" placeholder="Username"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input th:field="*{password}" placeholder="Password" type="password"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <select th:field="*{accounttype}">
                <option value="">Select Account Type</option>
                <option th:each="enumValue : ${enumValues}" th:value="${enumValue}" th:text="${enumValue}"></option>
              </select>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <button>Sign-up</button>
            </p>
          </div> <div class="clear"></div>
        </div> <!-- recipes -->
      </form>
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
