<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>
    <table>
        <thead></thead>
        <tbody>

        <tr th:each="block : ${questionBlocks}">
            <td ><a th:href="@{|/block/viewBlock/${block.id}|}" th:text="${block.title}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>