<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>
    <div>
        <a th:href="@{|/block/editblock/${questionBlock.id}|}">
        Edit this block
        </a>
        <a th:href="@{|/block/editblock/edit_order/${questionBlock.id}|}">
            Edit this block's order
        </a>
    </div>
    <div>
        <span th:text="${questionBlock.title}"></span>
    </div>
    <div th:each="question : ${questionBlock.questions}">
        <form th:action="@{/block/deletequestion/{questionId}(questionId=*{question.id})}" th:method="post">
            <button style="background: transparent; color: #808080"> <img src="/assets/images/delete.svg" height="12px"/> Delete </button>
        </form>
        <span th:text="${question.question}"></span>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/webapp.js"></script>
</html>