<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>
    <table>
        <thead></thead>
        <tbody>

        <tr th:each="instance : ${hasAnswersMap}">
            <td ><a th:href="@{|/block/edit_block_answers/${instance.key.id}|}" th:text="${instance.key.title}"></a></td>
            <td ><a th:href="@{|/block/edit_block_answers/${instance.key.id}|}" th:text="${instance.value}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>