<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>
<div th:replace="layout :: flash">

</div>
<div class="contentDiv">

    <form method="post" th:object="${questionBlockCreationWrapper}" th:action="@{${action}}">
        <span>Block Title:</span>
        <input type="text" th:field="*{title}" name="title" th:text="*{title}">
        <div class="question_container">

        </div>
<!--        <label>-->
<!--            Increment Version? <input th:object="${validationControl}" type="checkbox" name="active" th:checked="${validationControl.isIncrement()} ? 'checked'">-->
<!--        </label>-->
        <div th:each="question : ${questionBlockCreationWrapper.questionWrappers}" class="question-row">
            <div class="prefix-20 grid-30">
                <input type="text" th:field="*{questionWrappers[__${questionStat.index}__].tempId}" th:value="${question.tempId}"/>
                <select th:field="*{questionWrappers[__${questionStat.index}__].questionType}">
                    <option value="">Select Question Type</option>
                    <option th:each="enumValue : ${types}" th:value="${enumValue}" th:text="${enumValue}"></option>
                </select>
                <p>
                    <input type="text" th:field="*{questionWrappers[__${questionStat.index}__].question}" th:value="${question.question}"/>
                </p>
            </div>
<!--            <div class="grid-30">-->
<!--                <p>-->
<!--                    <input type="text" th:field="*{questions[__${questionStat.index}__].answer}" th:value="${question.answer}"/>-->
<!--                </p>-->
<!--            </div>-->

        </div>
        <div class="formButtons">
            <button type="button" id="addQuestion">+ Add Question</button>
            <button type="submit">Submit</button>
        </div>

    </form>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/webapp.js"></script>
</html>