<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<!--&lt;!&ndash;<div th:replace="layout :: menu">&ndash;&gt;-->

<!--</div>-->

<div>
    <form method="post" th:object="${questionBlockTemplate}" th:action="@{${action}}">
        <div>
            <span th:text="${questionBlockTemplate.title}"></span>
        </div>
        <div class="question_section" th:each="question : ${questionBlockTemplate.questions}">
            <input type="hidden" th:field="*{questions[__${questionStat.index}__].id}"/>
            <span th:text="${question.question}"></span>
            <input class="answerInput" type="text">
            <button class="answerButton" th:id="${'button' + question.id}" type="button">Add Answer</button>
            <ol class="answer-list-class">
                <li th:each="answer : ${question.answers}">
                    <span th:text="${answer.answer}"></span>
                    <input type="hidden" th:field="*{questions[__${questionStat.index}__].answers[__${answerStat.index}__].id}"/>
                    <input th:field="*{questions[__${questionStat.index}__].answers[__${answerStat.index}__].answer}" type="hidden"  th:value="${answer.answer}">
                </li>
            </ol>
        </div>
        <button type="submit">Submit</button>
    </form>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/blockAnswers.js"></script>
</html>