<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav">
</nav>

<div th:replace="layout :: menu">

</div>

<div>

    <form method="post" th:object="${blockOrderContainer}" th:action="@{${action}}">
<!--        <input type="text" th:field="*{questionBlockTemplate.title}" name="title" th:text="*{questionBlockTemplate.title}">-->
        <!--        <label>-->
        <!--            Increment Version? <input th:object="${validationControl}" type="checkbox" name="active" th:checked="${validationControl.isIncrement()} ? 'checked'">-->
        <!--        </label>-->
<!--        <div th:each="question : ${questionBlock.questions}" class="question-row">-->
            <div class="prefix-20 grid-30">
                <div th:each="blockOrderWrapper, blockOrderWrapperStat : *{blockOrderWrappers}">
                    <span th:text="${blockOrderWrapper.question.id}"></span><br>
                    <span th:text="${blockOrderWrapper.question.question}"></span><br>
                    <span th:text="'position ' + ${blockOrderWrapperStat.index}"></span><br>
                    <select th:field="*{blockOrderWrappers[__${blockOrderWrapperStat.index}__].location}">
                        <option th:each="i: ${#numbers.sequence(0, blockOrderWrapperStat.size - 1)}" th:text="${i}" th:value="${i}">
                        </option>
                    </select>
                </div>
<!--                <select th:field="*{getOrder()}">-->
<!--                    <option th:each="question : ${questionBlock.questions}" th:value="${question.id}"></option>-->
<!--                </select>-->
<!--                <input type="text" th:field="*{questions[__${questionStat.index}__].id}" th:value="${question.id}"/>-->
<!--                <p>-->
<!--                    <input type="text" th:field="*{questions[__${questionStat.index}__].question}" th:value="${question.question}"/>-->
<!--                </p>-->
            </div>
            <!--            <div class="grid-30">-->
            <!--                <p>-->
            <!--                    <input type="text" th:field="*{questions[__${questionStat.index}__].answer}" th:value="${question.answer}"/>-->
            <!--                </p>-->
            <!--            </div>-->

<!--        </div>-->
        <button type="submit">Submit</button>
    </form>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/webapp.js"></script>
</html>